/* 
--- COLOURS ---
- Primary: #66BFBF
- Tints: 
#a3d9d9
#f0f9f9
- Shades: #3d7373
- Greys:
#555
*/

/*******************************/
/*   COLOUR & SIZE VARIABLES   */
/*******************************/

:root {
  --text--color: #555;
  --dark--color: #3d7373;
  --medium--color: #a3d9d9;
  --link--bg-color: #e0f2f2;
  --light--color: #f0f9f9;
  --h1--color: #fff;
  --sticky-nav--bg-color: rgba(255, 255, 255, 0.95);
  --box--shadow: rgba(61, 115, 115, 0.5);

  --8px: 0.5rem;
  --16px: 1rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --36px: 2.25rem;
  --48px: 3rem;
}

/*******************************/
/*            RESET            */
/*******************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--box--shadow);
}

/*******************************/
/*     REUSABLE COMPONENTS     */
/*******************************/

.container {
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--48px);
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.icon {
  color: var(--dark--color);
}

/*******************************/
/*           GENERAL           */
/*******************************/

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--text--color);
  font-size: var(--16px);
}

/*******************************/
/*            HEADER           */
/*******************************/

.header__info {
  background-image: linear-gradient(
    to bottom,
    var(--dark--color),
    var(--medium--color)
  );
  color: var(--h1--color);
  margin-bottom: var(--32px);
}

.header__title {
  font-size: var(--36px);
  font-weight: 600;
  padding: 48px;
}

.header__text {
  padding: 0 32px 32px 32px;
  line-height: 1.8;
}

/*******************************/
/* NAVIGATION & RESOURCE LINKS */
/*******************************/

.nav {
  margin-bottom: var(--32px);
  padding: 0 32px;
}

.nav.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--sticky-nav--bg-color);
  padding: 16px 32px;
}

.nav__list {
  gap: var(--16px);
  flex-wrap: wrap;
  list-style: none;
}

.resource__link {
  display: inline-block;
  position: relative;
}

.nav__link,
.resource__link {
  padding: 8px 24px;
}

.nav__item,
.resource__title {
  border-radius: 48px;
  cursor: pointer;
  background-color: var(--link--bg-color);
}

.nav__icon {
  font-size: var(--24px);
}

.nav__link:link,
.nav__link:visited,
.resource__link:link,
.resource__link:visited {
  text-decoration: none;
}

.nav__link:link,
.nav__link:visited {
  gap: var(--8px);
  color: var(--text--color);
}

.resource__link:link,
.resource__link:visited {
  color: var(--dark--color);
}

.nav__item:hover,
.nav__item:active,
.resource__title:hover,
.resource__title:active {
  background-color: var(--dark--color);
  transition: all 0.3s;
}

.nav__item:hover .nav__link,
.nav__item:hover .nav__icon,
.nav__item:active .nav__link,
.nav__item:active .nav__icon,
.resource__title:hover .resource__link,
.resource__title:active .resource__link {
  color: var(--light--color);
}

/* focus-within targets element when any descendant has focus */
.nav__item:focus-within,
.resource__title:focus-within {
  box-shadow: 0 0 0 2px var(--box--shadow);
}

.nav__item:focus-within a,
.resource__title:focus-within a {
  box-shadow: none;
}

/*******************************/
/*      RESOURCES SECTION      */
/*******************************/

.group {
  padding: 32px;
}

.group:nth-child(odd) {
  background-color: var(--light--color);
}

.group__header {
  gap: var(--8px);
  margin-bottom: var(--32px);
}

.group__icon {
  font-size: var(--36px);
}

.group__title {
  font-size: var(--30px);
  font-weight: 400;
}

.resource__title {
  display: inline-block;
  margin-bottom: var(--8px);
}

.resource__text {
  line-height: 1.8;
}

.resource__text:not(:last-child) {
  margin-bottom: var(--8px);
}

.resource__price {
  font-weight: 700;
  font-style: italic;
}

/*******************************/
/*        FOOTER SECTION       */
/*******************************/

footer {
  background-color: var(--dark--color);
  color: var(--h1--color);
  padding: 16px;
}

/*******************************/
/*     MOBILE SCREEN SIZE      */
/*******************************/

@media (max-width: 62em) {
  /* @ 992px (breakpoint will need to be altered if add more sections)
  - make menu buttons smaller to fit back on 2 lines
  - change to 2 columns grid */

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
